<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            font-family: sans-serif;
        }

        img {
            display: block;
            max-width: 100%;
        }

        .small-image {
            width: 200px
        }
    </style>
    <script src="http://nginx:80/js/highcharts.js"></script>
    <script src="http://nginx:80/js/series-label.js"></script>
    <script src="http://nginx:80/js/exporting.js"></script>
    <script src="http://nginx:80/js/export-data.js"></script>
    <script src="http://nginx:80/js/accessibility.js"></script>


</head>

<body>
    <div class="container p-0">
        <h1>Test pdf</h1>
        <div class="row m-0">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Card Header</div>
                    <div class="card-body">
                        <img src="{{.image}}" style="width: 300px" />
                    </div>
                </div>
            </div>
        </div>

        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Basic line chart showing trends in a dataset. This chart includes the
                <code>series-label</code> module, which adds a label to each line for
                enhanced readability.
            </p>
        </figure>

    </div>


    <script>
        Highcharts.chart('container', {
            title: {
                text: 'U.S Solar Employment Growth by Job Category, 2010-2020',
            },
            yAxis: {
                title: {
                    text: 'Number of Employees'
                }
            },
            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2010 to 2020'
                }
            },
            plotOptions: {
                series: {
                    animation: false
                }
            },
            series: [{
                name: 'Installation & Developers',
                data: [43934, 48656, 65165, 81827, 112143, 142383,
                    171533, 165174, 155157, 161454, 154610]
            }],
        });
    </script>
</body>
</html>